
.show{
  display: block;
}
.hide{
  display: none;
}
.wraper{
  .exampleDom{
    position: absolute;
    max-height: 60%;
    top: 10%;
    left: 50%;
    transform: translateX(-50%);
  }
  .saveBtn{
    position: absolute;
    bottom: 20px;
    right: 20px;
    color: white;
    background-color: transparent;
    border: 1px solid;
    border-radius: 5px;
    padding: 5px;
  }
}